config/conexao.php
config/vapid_keys.php
config/mercadopago_keys.php
config/smtp_keys.php
usuario/chaves_google.php
upgrade_manual_vip.sql
upgrade_manual_pro.sql
downgrade_manual_free.sql
deletar_usuario.sql
add_*.sql
limpar_*.sql
alter_*.sql
retroativos_*.sql